.center {
	display: flex;
	justify-content: center;
}

.wrapper {
	background-color: dodgerblue;
	padding: 5px;
	border: 5px solid rgb(5,30,70);
	border-radius: 5px;
	position: center;
	Left: 50%;
	top: 50%;
	transform-style: flat;
}

body {
	background-color: blue;
}


.walterid {border-radius: 7%}

p{text-align: center;}

h1{text-align: center}

h2{text-align: center}